.App {
  text-align: center;
}

.icon{
  font-size: 30px;
  color: #000;
}

.icon2{
  font-size: 50px;
  color: #000;
}

.image{
  width: 40px;
  height: 40px;
}

.mainContent{
  margin-left: 20%;
}

@media screen and (max-width: 800px) {
  .mainContent{
    margin-left: 100px;
  }
}